.trip-selector {
  background-color: #23324B;
  display: flex;
  justify-content: center;
  position: sticky;
  top: 50px;
  z-index: 900;

  select {
    height: 45px;
    width: 205px;
    font-size: 20px;
    font-weight: 200;
    margin: 30px 10px;
    border: none;
  }

  button {
    border: 0px;
    border-radius: 8px;
    color: #FFFFFF;
    background-color: #FA6121;
    width: 140px;
    height: 45px;
    font-size: 15px;
    margin: 30px 10px;
    position: relative;
    top: -1px;
    cursor: pointer;
  }
}