.featured-trips {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;

  h3 {
    font-size: 25px;
    align-items: 50px;
  }
}

.trip-cards {
  display: flex;

  button {
    border: none;
    cursor: pointer;
  }
}

.featured-trip {
  margin: 0px 30px;
}

.arrow-container {
  display: flex;
  flex-direction: column;
}

.carousel-left {
  width: 30px;
}

.carousel-right {
  width: 30px;
}

.arrow {
  width: 35px;
}