.featured-trips {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;

  h3 {
    margin: 40px auto;
    font-size: 25px;
    align-items: 50px;
  }
}

.trip-cards {
  display: flex;

  button {
    border: none;
    cursor: pointer;
  }
}

.featured-trip {
  margin: 0px 40px;
}

.arrow-container {
  display: flex;
  flex-direction: column;
}

.carousel-left {
  height: 350px;
  margin-bottom: 20px;
}

.carousel-right {
  height: 350px;
  margin-bottom: 20px;
}

.right-image-crop {
  max-width: 13vh;
  overflow: hidden;
}

.left-image-crop {
  max-width: 13vh;
  overflow: hidden;
}

.arrow-left {
  width: 55px;
  position: relative;
  left: 25px;
  transition: right .5s ease;

}

.arrow-left:hover {
  left: 10px;
  transition: left .5s ease;
}

.arrow-right {
  width: 55px;
  position: relative;
  right: 25px;
  transition: right .5s ease;
}

.arrow-right:hover {
  right: 10px;
  transition: right .5s ease;
}