.featured-trips {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;

  h3 {
    font-size: 25px;
    align-items: 50px;
  }
}

.trip-cards {
  display: flex;

  button {
    height: 25px;
    cursor: pointer;
  }
}