.splash {
  background-image: url('images/cheetahs.jpg');
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  align-items: center;

  h1 {
    font-size: 50px;
    font-weight: 600;
    margin-bottom: 10px;
    letter-spacing: -2px;
  }

  h3 {
    font-size: 25px;
    font-weight: 100;
    margin-top: 0px;
  }
}

.splash-text {
  position: relative;
  top: 65px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  button {
    border: 0px;
    color: #FFFFFF;
    background-color: #FA6121;
    width: 240px;
    height: 55px;
    font-size: 15px;
    margin-top: 395px;
    box-shadow: 9px 8px 15px -2px #484848;
  }

  button:hover {
    background-color: #23324B;
    transition: 0.4s;
    cursor: pointer;
  }
}