.footer {
  background-color: #23324B;
  color: #FFFFFF;
  display: flex;
  justify-content: center;
}

.footer-column {
  margin: 40px;

  h6 {
    font-size: 20px;
  }

  p {
    font-size: 15px;
  }
}